<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <!--Íconos-->
    <script src="https://kit.fontawesome.com/31d3834f2e.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--header-start-->
    <header class="header">
        <!--Barra Superior-->
        <div class="top-bar">
            <!--logotipo-->
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <br>
            <!--barra de búsqueda-->
            <span class="search-bar">
                <p class="search-bar__text">Buscar productos, marcas</p>
                <i class="fa-solid fa-magnifying-glass search-bar__icon"></i>
            </span>
            <br>
            <p class="promo"><i class="fa-solid fa-hand-holding-dollar promo__icon"></i>Comprá en cuotas y sin tarjeta
                de crédito</p>
        </div>
        <!--barra de navegación-->
        <div class="bottom-bar">
            <div class="nav-bar">
                <ul class="nav-bar__site">
                    <li class="nav-bar__item"><a class="nav-bar__link" href="">Ofertas</a></li>
                    <li class="nav-bar__item"><a class="nav-bar__link" href="">Tiendas Oficiales</a></li>
                    <li class="nav-bar__item"><a class="nav-bar__link" href="">Vender</a></li>
                    <li class="nav-bar__item"><a class="nav-bar__link" href="">Ayuda</a></li>
                </ul>
                <ul class="nav-bar__user">
                    <li class="nav-bar__item"><a class="nav-bar__link" href="">Creá tu cuenta <i
                                class="nav-bar__icon fa-regular fa-address-card"></i></a></li>
                    <li class="nav-bar__item"><a class="nav-bar__link" href="">Ingresá <i
                                class="nav-bar__icon fa-solid fa-right-to-bracket"></i></a></li>
                    <li class="nav-bar__item"><a class="nav-bar__link" href="">Mis compras <i
                                class="nav-bar__icon fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="burger-menu">
            <i class="burger-menu__icon fas fa-bars"></i>
        </div>
    </header>
    <!--header-end-->
    <!--main-start-->
    <main class="main">
        <!--Banner-->
        <img class="banner" src="images/img-home-banner.jpg" alt="home-banner">
        <!--Sección Basado en última visita-->
        <section class="seccion-main">
            <h4 class="titular">Basado en tu última visita</h4>
            <section class="contenedor-articulos">
                <article class="articulo">
                    <img class="articulo__image" src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$6.700</p>
                            <p class="articulo__descuento">40% OFF</p>
                        </div>
                        <p class="articulo__descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="articulo__image" src="images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$230.000</p>
                            <p class="articulo__descuento">20% OFF</p>
                        </div>
                        <p class="articulo__descripcion">MacBook Pro 2019 </p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="articulo__image" src="images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$70.500</p>
                            <p class="articulo__descuento">10% OFF</p>
                        </div>
                        <p class="articulo__descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="articulo__image" src="images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$23.200</p>
                            <p class="articulo__descuento">5% OFF</p>
                        </div>
                        <p class="articulo__descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </section>
        <!--Sección Ofertas-->
        <section class="seccion-main">
            <h4 class="titular">Ofertas</h4>
            <section class="contenedor-articulos">
                <article class="articulo">
                    <img class="articulo__image" src="images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$6.700</p>
                            <p class="articulo__descuento">40% OFF</p>
                        </div>
                        <p class="articulo__descripcion">Cafetera Moulinex</p>
                    </div>
                    </div>
                </article>
                <article class="articulo">
                    <img class="articulo__image" src="images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$230.000</p>
                            <p class="articulo__descuento">20% OFF</p>
                        </div>
                        <p class="articulo__descripcion">MacBook Pro 2019 </p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="articulo__image" src="images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$70.500</p>
                            <p class="articulo__descuento">10% OFF</p>
                        </div>
                        <p class="articulo__descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="articulo__image" src="images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                    <div class="articulo__box">
                        <i class="fa-solid fa-truck articulo__envio"></i>
                        <div class="articulo__precio-descuento">
                            <p class="articulo__precio">$23.200</p>
                            <p class="articulo__descuento">5% OFF</p>
                        </div>
                        <p class="articulo__descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </section>
    </main>
    <!-----------main-end------------->
    <!---------footer-start----------->
    <footer class="footer">
        <br>
        <article class="footer__article">
            <i class="footer__icon fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="footer__descripcion">Con mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos
                de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="footer__article">
            <i class="footer__icon fa-solid fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p class="footer__descripcion">Solo por estar registradx en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article class="footer__article">
            <i class="footer__icon fa-solid fa-user-shield"></i>
            <br>
            <h4>Seguridad, de principio a fin.</h4>
            <p class="footer__descripcion">¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque
                estás siempre
                protegidx.</p>
        </article>
        <article class="footer__copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.
            <p>
        </article>
    </footer>
    <!---------footer-end------------->
</body>

</html>